html {
    scroll-padding-top: 64px;
}

html, body, body > div {
    height: 100%;
    margin: 0px;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: rgba(243, 246, 249, 0.6);
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 600px) {

    a {
        font-size: 0.65rem !important;
    }

    /**
     * Temorary until items can get moved to hamburger menu
     */
    a.menuLink {
        font-size: 0.875rem !important;
    }
}

a {
    cursor: pointer;
    margin: 0px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgb(25, 118, 210);
    text-decoration: underline rgba(25, 118, 210, 0.4);
}

.menuLinks {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
}

a.menuLink {
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 6px 8px;
    vertical-align: middle;
    min-width: 64px;
}

.section {
    height: 100%;
    padding: 20px 0px;
}

.sectionTitle {
    color: #F06000;
    font-size: 1rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .2rem;
    margin-top: 0px;
}

.sectionIntro {
    margin-top: 0px;
    font-family: 'opensans-bold', sans-serif;
    font-size: 2rem;
    color: #313131;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}

h1 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 12px;
    letter-spacing: -1px;
}