.weatherTitle {
    font-size: 2.5em;
    font-weight: 700;
    font-family: Averta, helvetica, arial, sans-serif;
}

.actualTemp {
    font-size: 4.6em;
    font-weight: 100;
    font-family: Averta, helvetica, arial, sans-serif;
}
.feelsLike {
    font-size: 1em;
    color: rgb(100, 100, 100);
    font-weight: 100;
    /*font-family: Averta, helvetica, arial, sans-serif;*/
}

.ancillaryValues {
    padding-left: 8px;
    font-size: 2em;
    /*color: rgb(159 159 159);*/
    font-weight: 400;
}

.unitNames {
    padding-left: 3px;
    padding-top: 10px;
    color: #b6b6b6;
}

.condition {
    padding-top: 4px;
    color: #b6b6b6;
}


@media screen and (max-width: 600px) {
    .unitNames {
        padding-top: 0px;
    }
}