.weatherTitle {
    font-size: 2.5em;
    font-weight: 700;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #2d3748;
}

.actualTemp {
    font-size: 4.6em;
    font-weight: 300;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #1a365d;
}

.feelsLike {
    font-size: 1em;
    color: #718096;
    font-weight: 400;
}

.conditionValues {
    padding-left: 8px;
    font-size: 2em;
    font-weight: 500;
    color: #2d3748;
}

.unitNames {
    padding-left: 3px;
    padding-bottom: 4px;
    color: #a0aec0;
    font-weight: 400;
}

.condition {
    padding-top: 4px;
    color: #718096;
    font-weight: 500;
    text-transform: capitalize;
}



@media screen and (max-width: 600px) {
    .unitNames {
        padding-bottom: 3px;
    }

    .ancillaryValues {
        font-size: 1.4em;
    }

    .actualTemp {
        font-size: 3em;
    }

    .feelsLike {
        font-size: 0.75em;
    }

    .condition {
        font-size: 0.85em;
    }

    .skiesImg {
        height: 5em;
        width: 5em;
    }
}